################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/GarageSpace.*/bin
/src/GarageSpace.*/obj
/Tests/GarageSpace.*/bin
/Tests/GarageSpace.*/obj
